#outline{
  background-color:#000;
  border: 2px solid grey;
  border-radius: 5px;
  position: absolute;
  padding: 70px;
  font-size: 20px;
  color: white;
  margin-top: 200px;
}
#frame {
  border-radius: 5px;
  background-color:#F53F17;
  border: 2px solid black;
  height: 490px;
  width: 400px;
  padding: 30px;

}
.button1 {
  background-color: gold;
  color: black;
  width: 100px;
  height: 36px;
  border-radius: 5px;
  padding: 2px;
  font-weight: bold;
}

.button2 {
  background-color: gold;
  color: black;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#status {
  text-align: center;
  font-size: 20px;
  color: black;
}



