.PB_productBuyingBox_background {
  width: 100vw;
  height: 100vh;
  background-color: #00000048;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  scroll-behavior: unset;
}

.PB_productBuyingBox {
  width: 960px;
  height: 600px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.PB_productImage {
  width: 420px;
  height: 600px;
  background-image: url("Rectangle 13@2x.png");
}

.PB_productImage--mainImage {
  width: 300px;
  height: 362px;
  margin: 74px 60px 0px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PB_productImage--mainImage img {
  width: 273px;
  height: auto;
}

.PB_productImage--sub {
  display: flex;
  flex-direction: row;
  width: 380px;
  height: 100px;
  padding: 32px 20px 32px 20px;
}
.PB_productImage-thumbnail {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  padding: 10px 20px 0px 20px;
  background-color: #ffffff;
  margin: 0 5px 0 5px;
}

.PB_productImage-thumbnail img {
  height: auto;
  width: 60px;
}

.PB_tumbanail--move {
  height: 100px;
  width: 20px;
  background-color: transparent;
  outline: transparent;
  border: transparent;
}

.PB_tumbanail--move img {
  width: 20px;
  height: auto;
}
.PB_left-arrow {
  margin: 0 5px 0 0;
}

.PB_right-arrow {
  margin: 0 0 0 3px;
}


.PB_closeButtons{
  margin: 40px 40px 0px 0px;
}

.PB_closeButtons Button{
  width: 28px;
  height: auto;
  border: transparent;
    background-color: transparent;
    outline: transparent;
}

.PB_btnClose{
  margin-left: 16px;
}

.PB_btnFavorite{
  margin-left: 424px;
}
.PB_DetailsArea {
  width: 340px;
  margin: 20px 0px 0px 100px;
  font-family: Oswald;
}

.PB_product--Type {
  font-size: 20px;
  color: #f63f17;
}

.PB_product--Name,
.PB_product--Price {
  font-family: Righteous;
  font-size: 24px;
  color: #414141;
}

.PB_product--Price{
  margin: 32px 0 8px 0;
}

.PB_product--details {
  font-size: 16px;
  color: #939595;
}

.PB_productSubmitArea{
  width: 340px;
  height: 118px;
  margin: 32px 0px 0px 100px;

}

.PB_selectProductMode{
  display: flex;
  flex-direction: row;
}

.PB_product_size{
  width: 232px;
  height: 48px;
  box-sizing: border-box;
  padding: 6px 16px 9px 16px;
  font-family: oswald;
  font-size: 20px;
  font-weight: 500;
  color: #F63F17;
  margin-bottom: 12px;
  border-color: #F63F17;
  border-width: 1.5px;
  margin-right: 8px;
}

.PB_product_QTY{
  width: 100px;
  height: 48px;
  box-sizing: border-box;
  padding: 6px 16px 9px 16px;
  font-family: oswald;
  font-size: 20px;
  font-weight: 500;
  color: #FC9904;
  margin-bottom: 12px;
  border-color: #FC9904;
  border-width: 1.5px;
}

.PB_btnSubmit,.PB_submit{
  width: 340px;
  height: 54px;
  border: transparent;
  background-color: transparent;
  outline: transparent;
}

.PB_btnSubmit:hover{
  transition: all ease 0.1s;
  transform: scale(1.01);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.PB_btnSubmit:active{
  transition: all ease 0.2s;
  transform: scale(0.975);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
}



.PB_productBuyingBox_background svg {
  fill: #939595;
}

.PB_btnClose:hover svg{
  fill:#F63F17;
  
}

.PB_cButton:hover{
  transform: scale(1.1);
  transition: all ease 0.3s;
}

.PB_cButton:active{
  transform: scale(0.9);
  transition: all ease 0.2s;
  
}



